function Main.main 2
push constant 2
pop local 1
push local 1
call Array.new 1
pop local 0
push local 0
push constant 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
